@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,ã€700italic|PT+Serif:400,400italic,700,700italic);

/*--- Clearings ---*/

header:before,
header:after,
main:before,
main:after {
  content: "";
  display: table;
}

video {
  width: 100%
}

header:after,
main:after {
  clear: both;
}

main {
  position: relative;
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}

/*=== Avatars === */

img[class*="avatar-"] {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

img[class*="avatar-"] {
  border-radius: 50%;
}

img.avatar-32 {
  width: 32px;
  height: 32px;
}

/*=== Cards === */

[class*="card-"],
[class*="card-"]>a {
  position: relative;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 6rem;
  width: 100%;
  /*align-items: center;
  /*min-height: 100vh;*/
}

[class*="card-"] figure img {
  margin: 0 auto;
  display: block;
}

/*==  Horizontal Cards / Images inside container:
object-fit to re-frame images rather than just stretch and resize them  === */

@media (min-width: 800px) and (max-width: 1200px) {
  [class*="card-"] figure {
    vertical-align: middle;
    text-align: center;
    min-width: 250px;
    max-height: 100%;
  }

  [class*="card-"] figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.flex-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
}

.flex-content p,
.flex-content li {
  position: relative;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

[class*="card-"] .flex-content p:last-child {
  margin-bottom: 0;
}

[class*="card-"] p.user {
  position: relative;
  line-height: 0.8rem;
  font-size: 1.4rem;
}

[class*="card-"] p.subinfo {
  margin-bottom: 0.8rem;
}

/*== Social Card - Header === */
[class*="card-"] header p.user {
  margin: 0;
}

[class*="card-"] .user img[class*="avatar-"] {
  float: left;
}

[class*="card-"] .user span {
  display: block;
  margin-top: 1.3rem;
}

[class*="card-"] .flex-content a.button {
  float: right;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 3px;
}

/* Featured/Popular/Buy*/

.ribbon-buy {
  position: absolute;
  z-index: 960;
  top: -1px;
  right: 3.2rem;
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  /* text-indent: -4000px; */
  font-size: 1.6rem;
  padding-top: 2.6rem;
  font-weight: 600;
}

.ribbon-buy:after {
  position: absolute;
  bottom: -8px;
  right: 0;
  content: "";
  border-bottom-width: 8px;
  -webkit-transform: scale(1.0001);
  -moz-transform: scale(1.0001);
}

.ribbon-buy:hover {
  height: 50px;
}

@media (min-width: 800px) {

  /*== Cards (Sizes) - Reference: figure img:-70,60,50,40,30... === */
  .card-30 figure,
  .card-70 .flex-content {
    width: 100%;
  }

  .card-40 figure,
  .card-60 .flex-content {
    width: 40%;
  }

  .card-50 figure,
  .card-50 .flex-content {
    width: 50%;
  }

  .card-60 figure,
  .card-40 .flex-content {
    width: 60%;
  }

  .card-70 figure,
  .card-30 .flex-content {
    width: 70%;
  }

  [class*="card-"]:nth-child(odd) figure {
    order: 0;
  }

  [class*="card-"]:nth-child(even) figure {
    order: 1;
  }

  [class*="card-"]:nth-child(odd) .ribbon-buy {
    left: 3.2rem;
  }

  .flex-content {
    padding: 3.2rem 3.2rem 2.4rem;
  }
}

[class*="card-"] header {
  padding-bottom: 1.6rem;
  margin-bottom: 1.4rem;
}

/*== Card - Mobile === */

@media (max-width: 799px) {

  [class*="card-"],
  [class*="card-"]>a {
    flex-flow: column;
  }

  .card figure,
  .card header {
    width: 100%;
  }

  /*== Mobile Card - Header === */
  [class*="card-"] header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.4rem;
  }

  [class*="card-"].social figure {
    margin-top: 8.1rem;
  }
}

/*== Card - Footer === */

[class*="card-"] footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  text-transform: lowercase;
}

[class*="card-"] footer p {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 0.8rem;
  margin-bottom: 0;
}

[class*="card-"] a[class*="bt-"] {
  padding-left: 3rem;
  background-image: url("http://jlantunez.com/imgs/spritecard.png");
  background-repeat: no-repeat;
}

[class*="card-"] a.bt-love {
  background-position: 0 7px;
}

[class*="card-"] a.bt-love:hover {
  color: #f34;
  background-position: 0 -25px;
}

[class*="card-"] a.bt-share {
  background-position: 0 -56px;
}

[class*="card-"] a.bt-share:hover {
  background-position: 0 -90px;
}

[class*="card-"] a.bt-comment {
  background-position: 0 -123px;
}

[class*="card-"] a.bt-comment:hover {
  background-position: 0 -157px;
}

a.location {
  background: url("http://jlantunez.com/imgs/spritecard.png") no-repeat -4px bottom;
  padding-left: 2rem;
}

@media (max-width: 500px) {
  [class*="card-"] footer a[class*="bt-"] {
    text-indent: -4000px;
    width: 24px;
  }
}

/*== List Product/Specs === */

[class*="card-"] .flex-content ul {
  margin: 0 0 1.2rem;
  padding: 0;
}

[class*="card-"] .flex-content li strong {
  width: 96px;
  display: inline-block;
}

[class*="card-"] .flex-content ul>li {
  margin: 0;
  padding: 0.4rem 0;
  list-style: none;
}

/*==== COLORS === */

main [class*="card-"] {
  background: #fff;
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.15), 0 0 1px rgba(50, 50, 50, 0.15);
}

/*[class*="card-"] figure {
  background: #eee;
}*/
[class*="card-"].social header {
  border-bottom: 1px solid #eee;
}

@media (max-width: 799px) {
  [class*="card-"] header {
    background: #fff;
    border-bottom: 1px solid #eee;
  }
}

.user span,
[class*="card-"] footer,
[class*="card-"] .subinfo {
  color: #bbb;
}

[class*="card-"] a {
  color: inherit;
}

[class*="card-"] .ribbon-buy {
  color: #fff;
}

/*== Card - Footer === */

[class*="card-"] footer p {
  border-top: 1px solid #eee;
}

/* --- Featured / Popular --- */

.ribbon-buy,
.ribbon-buy:hover {
  background: #a00;
  color: #fff;
}

.ribbon-buy:after {
  border: 24px solid transparent;
  border-top: none;
  border-bottom-width: 8px;
  border-left-color: #a00;
  border-right-color: #a00;
}

.ribbon-buy {
  background: #a00;
}

.ribbon-buy.popular {
  background-repeat: no-repeat;
  background-position: center 88%;
}

[class*="card-"] a.button.followed,
[class*="card-"] a.button:hover {
  background: #6c7;
}

[class*="card-"] ul>li {
  border-bottom: 1px solid #f5f5f5;
}

[class*="card-"] ul>li:last-child {
  border-bottom: none;
}

[class*="card-"] a.button {
  color: #fff;
}

[class*="card-"] footer a,
cite {
  color: #bbb;
}

[class*="card-"] footer a:hover {
  color: #333;
}

.zcxdetail {
  z-index: 970;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
}

.zcxdetail.fade-enter-active,
.zcxdetail.fade-leave-active {
  transition: opacity 0.3s linear;
}

.zcxdetail.fade-enter,
.zcxdetail.fade-leave-to {
  opacity: 0;
}

.zcxdetail .detail-wrapper .content {
  width: 100%;
  padding: 0 48px;
  font-size: 12px;
  font-weight: 200;
  line-height: 24px;
}

.zcxContent {
  width: 100%;
}

.zcxContent img {
  padding: 10px 0px;
}

.detail-wrapper {
  max-width: 90%;
  display: block;
  height: 80%;
  margin: auto auto;
  overflow: auto;
}

@import url("//fonts.googleapis.com/css?family=Roboto:500");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

main {
  text-align: center;
}

.face-button {
  height: 64px;
  display: inline-block;
  border: 3px solid #e43;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #e43;
  overflow: hidden;
}

.face-button .icon {
  margin-right: 6px;
}

.face-button .face-primary,
.face-button .face-secondary {
  display: block;
  padding: 0 32px;
  line-height: 64px;
  transition: margin 0.4s;
}

.face-button .face-primary {
  background-color: #e43;
  color: #fff;
}

.face-button:hover .face-primary {
  margin-top: -64px;
}
